body{
    margin:0;
    padding:0;
    overflow:hidden;
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
.selectCameraContainer{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    width: 100%;
}
button{
    position: relative;
    z-index: 1;
}
select{
    position: relative;
    z-index: 1;
}